body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Content Section */
.container {
    width: 100%;

    /* Temp border */
    border: 3px solid red;
}

/* Card for each book */
.card {
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

/* Container holding form */
.book-form {
    /* Take form out of page flow and place in the middle of screen */
    position: absolute;
    /* Place in middle of page -- Margins subtract half the height and width */
    top: 50%;
    margin-top: -88.5px;
    left: 50%;
    margin-left: -107px;
    
    /* New Book Btn will set this to visible instead of using JS to create every form element */
    visibility: hidden;
}

/* New Book Form */
.book-form form{
    /* Flex for alignment */
    display: flex;
    flex-direction: column;
}