body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-size: 18px;
}

/* Content Section */
.container {
    /* Temp border */
    border: 3px solid red;

    display: flex;
    gap: 20px;
}

/* Card for each book */
.card {
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

/* Container holding form */
.book-form {
    /* Take form out of page flow and place in the middle of screen */
    position: absolute;

    /* Use variables for width/height of container so the margins keep it in the center */
    /* May not need anymore */
    --width: 100vw;
    --height: 100vh;
    width: var(--width);
    height: var(--height);

    background-color: rgba(0, 0, 0, 0.755);
    
    /* New Book Btn will set this to visible instead of using JS to create every form element */
    visibility: hidden;
}

/* New Book Form */
.book-form form{
    height: var(--height);
    /* Flex for alignment */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    color: white;
}

input[type=text], input[type=number] {
    appearance: none;
    border-radius: 5px;

    width: 30ch;
    height: 1.5rem;
    font-size: .9rem;
    text-align: center;
}